<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
	<%= render user %>
	<% end %>
</ul>

<%= will_paginate %>